// $white-color: #f9f9f9;
// $aliceBlue: #bdcef3;
// $mediumSlateBlue: #7f75fd;

// $SlateBlue: rgb(161, 154, 255);
// $aliceBlueDark: #9cb9f7;
// $nickel: #6F7070;
// $onyx: #3D3D3D;
// $white-gray: #ECECEC;
// $dark-gray: #b4b3b3;

// $white-color: #f9f9f9;
// $dark-blue: #4c49e2;
// $medium-blue: #5550ff;

$white-color: #f9f9f9;
$dark-blue: #5550ff;
$medium-blue: #616eff;
$background-blue: #302ba9;


$nickel: #6F7070;
$onyx: #3D3D3D;
$white-gray: #ECECEC;
$dark-gray: #b4b3b3;
